<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>ListenerDemoServlet</display-name>
    <servlet-name>ListenerDemoServlet</servlet-name>
    <servlet-class>com.samsonmarikwa.servlet.ListenerDemoServlet</servlet-class>
  </servlet>
<!--   <servlet-mapping>
    <servlet-name>ListenerDemoServlet</servlet-name>
    <url-pattern>/listenerDemoServlet</url-pattern>
  </servlet-mapping> -->
  <display-name>ListenerDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.samsonmarikwa.listener.RequestListener</listener-class>
  </listener>
</web-app>